[submodule "bundle/vizardry"]
	path = bundle/vizardry
	url = https://github.com/ardagnir/vizardry
[submodule "bundle/united-front"]
	path = bundle/united-front
	url = https://github.com/ardagnir/united-front
[submodule "bundle/spreadsheet.vim"]
	path = bundle/spreadsheet.vim
	url = https://github.com/vim-scripts/spreadsheet.vim
