[submodule "bundle/vizardry"]
	path = bundle/vizardry
	url = https://github.com/ardagnir/vizardry
[submodule "bundle/spreadsheet.vim"]
	path = bundle/spreadsheet.vim
	url = https://github.com/vim-scripts/spreadsheet.vim
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/CSApprox"]
	path = bundle/CSApprox
	url = https://github.com/godlygeek/csapprox
[submodule "bundle/gotham"]
	path = bundle/gotham
	url = https://github.com/whatyouhide/vim-gotham
[submodule "bundle/SyntaxRange"]
	path = bundle/SyntaxRange
	url = https://github.com/vim-scripts/SyntaxRange
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "bundle/vim-syntax-extra"]
	path = bundle/vim-syntax-extra
	url = https://github.com/justinmk/vim-syntax-extra
[submodule "bundle/RoleplayingVim"]
	path = bundle/RoleplayingVim
	url = https://github.com/yotama9/RoleplayingVim
[submodule "bundle/Goyo"]
	path = bundle/Goyo
	url = https://github.com/junegunn/goyo.vim
[submodule "bundle/quicklink"]
	path = bundle/quicklink
	url = https://github.com/christoomey/vim-quicklink
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
