[submodule "bundle/vizardry"]
	path = bundle/vizardry
	url = https://github.com/ardagnir/vizardry
[submodule "bundle/spreadsheet.vim"]
	path = bundle/spreadsheet.vim
	url = https://github.com/vim-scripts/spreadsheet.vim
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/CSApprox"]
	path = bundle/CSApprox
	url = https://github.com/godlygeek/csapprox
[submodule "bundle/gotham"]
	path = bundle/gotham
	url = https://github.com/whatyouhide/vim-gotham
[submodule "bundle/SyntaxRange"]
	path = bundle/SyntaxRange
	url = https://github.com/vim-scripts/SyntaxRange
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "bundle/vim-syntax-extra"]
	path = bundle/vim-syntax-extra
	url = https://github.com/justinmk/vim-syntax-extra
[submodule "bundle/RoleplayingVim"]
	path = bundle/RoleplayingVim
	url = https://github.com/yotama9/RoleplayingVim
[submodule "bundle/Goyo"]
	path = bundle/Goyo
	url = https://github.com/junegunn/goyo.vim
[submodule "bundle/quicklink"]
	path = bundle/quicklink
	url = https://github.com/christoomey/vim-quicklink
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/EasyMotion"]
	path = bundle/EasyMotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "bundle/netrw"]
	path = bundle/netrw
	url = https://github.com/vim-scripts/netrw.vim
[submodule "bundle/choosewin"]
	path = bundle/choosewin
	url = https://github.com/t9md/vim-choosewin
[submodule "bundle/vim-valloric-colorscheme"]
	path = bundle/vim-valloric-colorscheme
	url = https://github.com/Valloric/vim-valloric-colorscheme
[submodule "bundle/colorsbox"]
	path = bundle/colorsbox
	url = https://github.com/mkarmona/colorsbox
[submodule "bundle/Ubaryd"]
	path = bundle/Ubaryd
	url = https://github.com/Donearm/Ubaryd
[submodule "bundle/VIvid.vim"]
	path = bundle/VIvid.vim
	url = https://github.com/DrowsySaturn/VIvid.vim
[submodule "bundle/meta5"]
	path = bundle/meta5
	url = https://github.com/christophermca/meta5
[submodule "bundle/hilal"]
	path = bundle/hilal
	url = https://github.com/kocakosm/hilal
[submodule "bundle/vimshell"]
	path = bundle/vimshell
	url = https://github.com/Shougo/vimshell.vim
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim
[submodule "bundle/vim-themes"]
	path = bundle/vim-themes
	url = https://github.com/mswift42/vim-themes
[submodule "bundle/mako"]
	path = bundle/mako
	url = https://github.com/sophacles/vim-bundle-mako
[submodule "bundle/AnsiEsc"]
	path = bundle/AnsiEsc
	url = https://github.com/vim-scripts/AnsiEsc.vim
[submodule "bundle/Base2Tone-vim"]
	path = bundle/Base2Tone-vim
	url = https://github.com/atelierbram/Base2Tone-vim
